<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index_style_css.css')}}">
</head>
<body>
<h2>전라남도 임용공고</h2>

<div class="kj_content">
    <h1>여기는 전라남도 교사임용공고 크롤링 페이지입니다
    </h1>
    <ul>
    {% for i in sub%}
    <li>
        {{i}}
    </li>
    {% endfor %}
    </ul>
</div>

<form action = "http://3.135.192.241:5000/kj" method = "POST">

         <p><input type = "submit" value = "광주" /></p>
      </form>
<form action = "http://3.135.192.241:5000/cn" method = "POST">
    <p><input type="submit" value ="전라남도 "></p>
</form>

<form action="http://3.135.192.241:5000/chonbook" method = "POST">
    <p><input type="submit" value="전라북도"></p>
</form>
</body>
</html>
